* {
	font-family: Helvetica;
}



/* ------------ HEADERS ------------ */

h1 {
	color: #000000;
	text-align: center;

}

h2 {

}

header {
	position: absolute;
	top: 0;
	color: #FFFFFF;
}

#parallaximg {
	position: relative;
	height: 300px;
}


/* ------------ INTRODUCTION ------------ */

#introduction {
	padding: 50px;
	padding-bottom: 5px;
	margin-top: 50px;
	width: 700px;
	float: left;
}

#expectations {
	width: 700px;
/*	float: left;*/
}

img {
	padding-top: 20px;
	width: 350px;
	float: right;
	padding-bottom: 50px;
}



div {
	padding: 50px;
	padding-top: 5px;
}